<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OCMS.Properties.Settings.OCMSConnectionString" connectionString="Data Source=LAPTOP110\DEVOPS;Initial Catalog=OCMS;User ID=sa;Password=KGkristineguardian"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>