<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="OCMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--My Local Server Connection String-->
    <!--<add key="ConnectionString" value="P4/3JxgBfgZR6Oo5iigkwO2fl3u5+p0iAFFm5J0XRWgJ5tml9KKz0M5Oag07EMdxWWcJJ9AAUMXDW8jmQanBFdLWfBPbI+ixnKyAxDTn7E82LyXS4wa+/fGXSfaomOf1GrqdWj3m35bEx4sViWK1rdBQrNqKSHGzdrZ1UiL9NIfZYvp25J3hAygCdsieS/nYcCMvJpmuXtd1eAGu1eLqq+vKJq6hSDg8rTMSa+hgF28DFw2s2L5l5pE1+sh2/TE7RUUyBaETMX8fLezKTTwxfdjRsvV7URezxc7dB9ORQcI=" />-->
    <!--Devteam-->
    <add key="ConnectionString" value="fD9bH111Dcz7qFk+X2VM6VkCPb1GahreRLNk6UAH8n4WZ2EIHSWTD8vBFEv1UXsy6b1I9uRtmAx8bgrJxbWqJ3DZmrBFbI8R9iQdOy8h0URS1jbjdZqYNomNVAb69cdRyvifCwGqYo69YoXZZpZjBXMWH3n/tkENvay26dpzEZblsBGhAchzPp6+dMaoFlvk0DZyF93Oeh62HjEIfsuFz5vTIGzxpzTiQFu46v1ESj8Ajes0Ex5h+aadhs2jq+MmhBoLygbSXkrpkTZl4mlSMA==" />
</appSettings>
  <userSettings>
    <OCMS.Properties.Settings>
      <setting name="ServerName" serializeAs="String">
        <value>laptop124\devteam</value>
      </setting>
      <setting name="DatabaseName" serializeAs="String">
        <value>OCMS</value>
      </setting>
      <setting name="User" serializeAs="String">
        <value>mpiuser</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>itdbtw3n+y12</value>
      </setting>
      <setting name="Company" serializeAs="String">
        <value />
      </setting>
    </OCMS.Properties.Settings>
  </userSettings>
</configuration>